---
layout: default
title: События
---

<div id="home">
  <h2><i class="fa fa-bookmark"></i> События</h2>
  <ul id="event-posts" class="posts">
    {% for post in site.posts %}
      <li>
        <span>{{ post.date | date_to_string }} &raquo;</span>
        <a class="post-url" href="{{ post.url }}">{{ post.title }}</a>
        <ul class="topics">
        {% for topic in post.topics %}
          <li>{{topic}}</li>
        {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>

  <h2><i class="fa fa-gavel"></i> Практический кружок</h2>
  <ul id="practise-posts" class="posts">
    {% for post in site.practise %}
      <li>
        <span>{{ post.date | date_to_string }} &raquo;</span>
        <a class="post-url" href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <h2><i class="fa fa-book"></i>Блог</h2>
  <ul id="blog-posts" class="posts">
    {% for post in site.blog %}
      <li>
        <span>{{ post.date | date_to_string }} &raquo;</span>
        <a class="post-url" href="{{ post.url }}">{{ post.title }}</a>
        <ul class="topics">
        {% for topic in post.topics %}
          <li>{{topic}}</li>
        {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>

  <h2><i class="fa fa-graduation-cap"></i> Обучение</h2>
  <ul id="edu-posts" class="posts">
    <li>
      <span>16 Oct 2017 - 31 Dec 2017 &raquo;</span>
        <a class="post-url" href="http://courses.itlft.ru/data-science">Курс по машинному обучению в 7bits, 1 семестр</a>
        <ul class="topics">
          <li>Основы Python 3</li>
          <li>Sklearn, numpy, pandas, scipy, matplotlib</li>
          <li>LinearModels, DesicionTrees, kNN, etc...</li>
          <li>Классификация, регрессия, кластеризация, поиск аномалий, Рекомендательные системы</li>
        </ul>
    </li>
    <li>
      <span>16 Oct 2017 - 31 Dec 2017 &raquo;</span>
        <a class="post-url" href="http://courses.itlft.ru/data-science">Курс по машинному обучению в 7bits, 2 семестр</a>
        <ul class="topics">
          <li>TBDL</li>
        </ul>
    </li>
  </ul>


</div>
